<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <ul class="list-inline text-center">
                    <li>
                        <a target="_blank" href="https://github.com/l3rittny">
                            <img src="/icons/black/GitHub.png" alt="GitHub" height="42" width="42">
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="https://ca.linkedin.com/in/brittny-lapierre-361686b2">
                            <img src="/icons/black/LinkedIn.png" alt="LinkedIn" height="42" width="42">
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="https://twitter.com/codeandcapps">
                            <img src="/icons/black/Twitter.png" alt="Twitter" height="42" width="42">
                        </a>
                    </li>
                </ul>
                <p class="copyright text-muted">Copyright &copy; {{ site.copyright_name }} {{ site.time | date: '%Y' }}</p>
                <a target="_blank" href="https://icons8.com">Icons by Icons8</a>
            </div>
        </div>
    </div>
</footer>

<!-- jQuery -->
<script src="{{ "./js/jquery.min.js " }}"></script>

<!-- Bootstrap Core JavaScript -->
<script src="{{ "./js/bootstrap.min.js " }}"></script>

<!-- Custom Theme JavaScript -->
<script src="{{ "./js/clean-blog.js " }}"></script>
