<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <ul class="list-inline text-center">
                    <li>
                        <a target="_blank" href="https://github.com/l3rittny">
                            <img src="/icons/black/GitHub.png" alt="GitHub" height="42" width="42">
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="https://ca.linkedin.com/in/brittny-lapierre-361686b2">
                            <img src="/icons/black/LinkedIn.png" alt="LinkedIn" height="42" width="42">
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="https://twitter.com/codeandcapps">
                            <img src="/icons/black/Twitter.png" alt="Twitter" height="42" width="42">
                        </a>
                    </li>
                    <li>               
                        <a target="_blank" href="https://www.instagram.com/codeandcapps/">
                            <img src="/icons/black/Instagram Old.png" alt="Instagram" height="42" width="42">
                        </a>
                    </li>
                </ul>
                <p class="copyright text-muted">Copyright &copy; {{ site.copyright_name }} {{ site.time | date: '%Y' }}</p>
                <p class="copyright text-muted"><a target="_blank" href="https://icons8.com">Icons by Icons8</a></p>
            </div>
        </div>
    </div>
</footer>


<script   src="https://code.jquery.com/jquery-3.1.1.min.js"   integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="   crossorigin="anonymous"></script>
<script src="http://code.jquery.com/ui/1.12.0/jquery-ui.min.js" integrity="sha256-eGE6blurk5sHj+rmkfsGYeKyZx3M4bG+ZlFyA7Kns7E="   crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<!-- Custom Theme JavaScript -->
<script src="{{ "/js/clean-blog.js " }}"></script>
